*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
  
body {
  background-color: #F5F5F5;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 1128px;
  height: 648px;
  gap: 24px;

  margin: 0 auto;
}

.gallery-image {
  width: 360px;
  height: 200px;

  cursor: zoom-in;

  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.05);
} 

.modal {
display: flex;
justify-content: center;
align-items: center;

width: 1112px;
height: 640px;

background-color: rgba(46, 47, 66, 0.8);
}








